/AndroidStudio4.1-config/workspace/1q*.xml
/AndroidStudio4.1-config/tasks/*.contexts.zip
/AndroidStudio4.1-config/tasks/*.tasks.zip
/AndroidStudio4.1-config/options/window.state.xml
/AndroidStudio4.1-config/options/actionSummary.xml
/AndroidStudio4.1-config/options/other.xml
/AndroidStudio4.1-config/options/recentProjects.xml
/AndroidStudio4.1-config/options/usage.statistics.xml
/AndroidStudio4.1-local/availables.xml
/AndroidStudio4.1-local/availables.xml.etag
/AndroidStudio4.1-local/extensions.xml
/AndroidStudio4.1-local/pluginsXMLIds.json
/AndroidStudio4.1-local/pluginsXMLIds.json.etag
/AndroidStudio4.1-config/port
/AndroidStudio4.1-config/port.lock
/AndroidStudio4.1-config/options/updates.xml
