/AndroidStudio4.2-config/workspace/1*.xml
/AndroidStudio4.2-config/tasks/*.contexts.zip
/AndroidStudio4.2-config/tasks/*.tasks.zip
/AndroidStudio4.2-config/options/window.state.xml
/AndroidStudio4.2-config/options/actionSummary.xml
/AndroidStudio4.2-config/options/other.xml
/AndroidStudio4.2-config/options/recentProjects.xml
/AndroidStudio4.2-config/options/usage.statistics.xml
/AndroidStudio4.2-local/availables.xml
/AndroidStudio4.2-local/availables.xml.etag
/AndroidStudio4.2-local/extensions.xml
/AndroidStudio4.2-local/pluginsXMLIds.json
/AndroidStudio4.2-local/pluginsXMLIds.json.etag
/AndroidStudio4.2-config/port
/AndroidStudio4.2-config/port.lock
/AndroidStudio4.2-config/options/updates.xml
